.app_red_theme {
    --bg-color: #fc1a07;
    --inverted-bg-color: #FFE8E5;
    --primary-color: #FFE8E5;
    --secondary-color: #F76402;
    --inverted-primary-color: #F76402;
    --inverted-secondary-color: #FFE8E5;
}
